body {
  font-family: "Open Sans", sans-serif;
}

.heading {
  background-color: #3c3c3c;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

input {
  width: 75%;
}

#city-list {
  width: 22rem;
}

#city-date-icon,
#city-name,
#current-icon {
    display: flex;
    flex-direction: row;
    justify-content: center/space-around/space-between;
}

h6 {
  font-weight: bold;
}

h4 {
    margin: 5px;
}

#forecast-cards {
    display: flex;
    flex-direction: row;
    justify-content: center/space-between;
}

.forecast {
    margin: 10px;
}